* {
    box-sizing: border-box;
    flex-wrap: wrap;
}

:root {
    --bg: #262335;
    --fg: #ffffff80;
    --surface: #37294d99;
    --accent: #f97e72;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

body {
    width: 100vw;
    max-width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

a:hover {
    text-decoration: underline;
}

li {
    color: var(--accent);
}

.container {
    border-radius: 1rem;
    background-color: var(--surface);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.container .button {
     margin-top: 0.6rem;
}

.button {
    border: 2px solid var(--accent);
}

.button:hover {
    text-decoration: none;
}

#buttons {
    display: flex;
    gap: 0.5rem;
}